[Desktop Entry]
Name=Install to Device
GenericName=Installer
Comment=Install the operating system to your computer
Categories=System;Utility;GNOME;GTK;
Exec=readymade
Terminal=false
Type=Application
Icon=com.fyralabs.Readymade
StartupNotify=true
StartupWMClass=com.fyralabs.Readymade
# This will hide the desktop file, inside of a live environment, set it to false to show it
NoDisplay=true
