.installation-bento-card.welcome-card {
    background-image: url("file:///usr/share/readymade/bento1-dark");
}

.installation-bento-card.help-card {
    background-image: url("file:///usr/share/readymade/bento2-dark");
}

.installation-bento-card.contribute-card {
    background-image: url("file:///usr/share/readymade/bento3-dark");
}

.installation-bento-card.sponsor-card {
    background-image: url("file:///usr/share/readymade/bento4-dark");
}
