.installation-bento-card.welcome-card {
    background-image: url("viewports-dark.webp");
}

.installation-bento-card.help-card {
    background-image: url("umbrella-dark.webp");
}

.installation-bento-card.sponsor-card {
    background-image: url("foresty-skies-dark.webp");
}
.installation-bento-card.contribute-card {
    background-position: bottom;
    background-image: url("blueprint-dark.webp");
}
