.large-button {
    min-width: 96px;
}

.installation-bento-card {
    padding: unset;
    border-radius: 16px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: none;
}

.installation-bento-card:hover {
    color: @accent_color;
}

.installation-bento-card:hover .content-block {
    background: @surface_container_high_bg_color;
}

.installation-bento-card.welcome-card {
    background-image: url("file:///usr/share/readymade/bento/1");
}

.installation-bento-card.help-card {
    background-image: url("file:///usr/share/readymade/bento/2");
}

.installation-bento-card.contribute-card {
    background-position: bottom;
    background-image: url("file:///usr/share/readymade/bento/3");
}

.installation-bento-card.sponsor-card {
    background-image: url("file:///usr/share/readymade/bento/4");
}
